menu {
	height: 5%;
	width: 100%;
	margin: 0%;
	padding: 0%;
	position: fixed;
}


a {
	text-decoration: none;
	color: #FFFFFF;
}

a.heading {
	color: #000000;
}

body {
	margin: 0%;
}


div {
	background-color: #404040;
	font-family: Century Gothic;
	border-style: solid;
	border-width: 1px;
	margin: 0%;
}

div.logo {
	background-color: #ffffff;
}

div.menu {
	background-color: #404040;
	opacity: 0.95;
	width: 100%;
	height: 5%;
	border-style: none;
}

div.menu_link {
	height: 100%;
	width: 20%;
	float: left;
	border-style: none;
	text-align: center;
	line-height: 250%;


}

div.landscapes {
	background-color: #404040;
	border-style: solid;
	height: 4in;
	width: 6in;
	margin: 0in;
}

div.street {
	background-color: #404040;
	border-style: solid;
	height: 4in;
	width: 6in;
}

div.people {
	background-color: #404040;
	border-style: solid;
	height: 4in;
	width: 6in;

}

footer {
	margin-top: 5%;
	background-color: #404040;
	height: 20%;
}