menu {
	background-color: #dddddd;
	margin: 0%;
	padding: 1%;
	position: fixed;
}
a {
	text-decoration: none;
}

body {
	margin: 0%;
}


div {
	background-color: #bfd7ff;
	font-family: Century Gothic;
	border-style: solid;
	border-width: 1%;
}

div.menu {
	border-style: none;
	border-width: 0%;
}

div.landscapes_link {
	height: 100%;
	width: 20%;
	float: left;

}

div.street_link {
	height: 100%;
	width: 20%;
	float: left;
}

div.people_link {
	height: 100%;
	width: 20%;
	float: left;
}

div.about_link {
	height: 100%;
	width: 20%;
	float: left;
}

div.contact_link {
	height: 100%;
	width: 20%;
	float: left;
}

div.landscapes {
	background-color: #bfd7ff;
	border-style: solid;
	border-width: 1%;
	height: 30%;
}

div.street {
	background-color: #bfd7ff;
	border-style: solid;
	height: 30%;
}

div.people {
	background-color: #bfd7ff;
	border-style: solid;
	height: 30%;
}

footer {
	background-color: #dddddd;
}